@charset "utf-8";

html {
	margin: 0;
}

body {
	margin: 0; 
	background-color: white;
	overflow-x: hidden;
}

#header {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.6);
	width: 100vw;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	top: 0;
	transition: 0.7s;
	z-index: 4;
}

#logo {
	width: 153px;
	height: 75px;
	position: absolute;
	top: 35px;
	animation: image 4s;
	transition: 0.7s;
}

#left {
	display: inline-block;
	width: 50%;
	height: 80px;
	float: left;
	overflow: inherit;
	transition: 0.7s;
}


#text {
	width: 398px;
	height: 62px;
	font-size: 24px;
	font-family: Playfair Display;
	position: relative;
	top: -29px;
	left: 175px;
	animation: fade 4.2s, moveit 4s;
}

.list-left {
	list-style-type: none;
	overflow: hidden;
	padding-bottom: 20px;
	
}

.list-left li {
	float: left;
	
}

.list-left li a {
	display: block;
  	transition: .2s;
	padding-right: 10px;
}

#right {
	display: inline-block;
	width: 50%;
	height: 80px;
	float: right;
	transition: 0.7s;
}

.list {
	list-style-type: none;
	overflow: hidden;
	padding-right: 45px;
}

.list li {
	float: right;
	width: 14%;
	transition: 0.7s;
}

.list li a {
	display: block;
  	text-align: center;
  	padding: 5px 5px;
  	text-decoration: none;
	color: black;
	font-family: Oswald;
	font-size: 20px;
  	transition: .2s;
	position: relative;
	animation: fade 0.7s, moveit2 1.7s;
}

.list li a:hover {
	font-size: 24px;
}


#image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 1080px;
	position: relative;
	z-index: -1;
	top: 0;
	transition: 0.7s;
	-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
	filter: contrast(1.4);
}

#imgl {
	width: 40%;
	height: auto;
	position: relative;
	padding: none;
	margin: none;
	top: -820px;
	margin-left: 90px;
	font-family: Oswald;
	color: #99BADD;
	font-size: 34px;
	font-weight: 800;
	border-radius: 20px;
}

#imgl2 {
	width: 40%;
	height: auto;
	position: relative;
	padding: none;
	margin: none;
	top: -1280px;
	margin-left: 90px;
	font-family: Oswald;
	color: #99BADD;
	font-size: 34px;
	font-weight: 800;
	border-radius: 20px;
}

#img {
	width: 38%;
	height: auto;
	position: relative;
	top: 230px;
	left: 990px;
	transition-delay: 0.3s;
}

#img2 {
	width: 38%;
	height: auto;
	position: relative;
	top: 230px;
	transition-delay: 0.3s;
}

.prev, .next {
	cursor: pointer;
  	position: absolute;
  	top: 45%;
  	width: 30px;
	height: 75px;
	color: white;
	background-color: black;
	padding-top: 30px;
  	font-size: 28px;
	text-align: center;
  	transition: 0.6s ease;
  	user-select: none;
}

.prev {
	border-radius: 0px 13px 13px 0px;
}

.next {
	right: 0;
	border-radius: 13px 0 0 13px;
}

#dots {
	text-align: center;
	z-index: 4;
	position: relative;
	top: -1150px;
}

.dot {
  	cursor: pointer;
  	height: 15px;
  	width: 15px;
  	margin: 0 4px;
  	background-color: #7f7f7f;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}

.active, .dot:hover {
  	background-color: #99BADD;
}

#Our {
	width: 100vw;
	height: 540px;;
	display: grid;
	place-items: center right;
	background-position: center;
	background-size: cover;
}


#leftTeam {
	width: 35%;
	height: 500px;
	background-color: #99BADD;
	position: relative;
	top: -940px;
	left: -1200px;
	margin-left: 12px;
	border-radius: 20px;
	z-index: 1;
	-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1))
}

#leftTeam h1 {
	margin: none;
	font-family: Oswald;
	font-weight: 700;
	text-align: center;
	font-size: 40px;
}

#leftTeam p {
	text-align: center;
	padding: 12px;
	font-size: 24px;
	font-family: Oswald;
	font-weight: 400;
}

.cards {
	display: flex;
	position: relative;
	top: -1440px;
	z-index: 1;
}

.card {
	background-color: #99BADD;
	border-radius: 1rem;
	padding: 2rem;
	box-shadow: 4px 4px 15px 2px #393939;
	transition: 0.3s;
	width: 260px;
	height: 440px;
}

.card h2 {
	font-family: Oswald;
	font-weight: 700;
	letter-spacing: -.03em;
}

.card:not(:first-child) {
	margin-left: -8rem;
}

.card:hover, .card:focus-within {
	transform: translateY(-1rem);
}

.card:hover ~ .card, .card:focus-within ~ .card {
	transform: translateX(8rem);
}

.card p {
	font-family: Oswald;
}

.cardl {
	text-decoration: none;
	color: lightblue;
}

.cardl:hover {
	color: blue;
	background: -webkit-linear-gradient(left, darkblue, #7f7f7f);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

#way {
	position: relative;
	top: 28px;
	right: 95px;
	transform: scale(0.5);
}

#chair {
	z-index: 1;
	position: relative;
	margin: 40px;
	top: -1410px;
}

.video {
	width: 45%;
	border-radius: 21px;
	outline: none;
}

#back {
	width: 500%;
	background-image: url("Images/Back_2.jpg");
	background-position: center;
	overflow: hidden;
	position: relative;
	top: -4000px;
	left: 440px;
	z-index: 0;
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#chairright {
	width: 47.5%;
	height: 470px;
	z-index: 1;
	background-color: #99BADD;
	position: relative;
	top: -1920px;
	left: -45px;
	margin-right: 12px;
	border-radius: 20px;
	-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1))
}

#chairright h2{
	margin: none;
	font-family: Oswald;
	font-weight: 700;
	text-align: center;
	font-size: 40px;
}

#chairright p {
	text-align: center;
	padding: 12px;
	font-size: 24px;
	font-family: Oswald;
	font-weight: 400;
}

#champleft {
	width: 55%;
	height: 470px;
	z-index: 1;
	background-color: #99BADD;
	position: relative;
	top: -1840px;
	left: -820px;
	margin-right: 12px;
	border-radius: 20px;
	-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1))
}

#champleft h2 {
	margin: none;
	font-family: Oswald;
	font-weight: 700;
	text-align: center;
	font-size: 40px;
}

#champleft p {
	text-align: center;
	padding: 12px;
	font-size: 24px;
	font-family: Gadget, sans-serif;
	font-weight: 400;
}

#champright {
	background-image: url("../Images/Champs.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
	height: 470px;
	width: 707.6px;
	position: relative;
	top: -2310px;
	left: -50px;
	border-radius: 20px;
}

#champleft h2 {
	margin: none;
	font-family: Oswald;
	font-weight: 700;
	text-align: center;
	font-size: 40px;
}

#champleft p {
	text-align: center;
	padding: 12px;
	font-size: 24px;
	font-family: Oswald;
	font-weight: 400;
}

#goal {
	width: 100vw;
	height: 940px;
	background-color: #99BADD;
	position: relative;
	top: 100px;
	text-align: center;
	align-items: center;
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#goal h2 {
	position: relative;
	top: 100px;
	font-family: Playfair Display;
	font-size: 30px;
}

#leftgoal {
	width: 50%;
	float: left;
	height: 940px;
}

.line {
	width: 40%;
	height: 2px;
	border-radius: 1px;
	background-color: #7f7f7f;
	margin-left: 30%;
	position: relative;
	top: 100px;
}

#goal1 {
	width: 30%;
	height: auto;
	margin-left: 35%;
	position: relative;
	top: 120px;
}

#goal1 p {
	font-size: 22px;
	font-family: Oswald;
}

#rightspons {
	width: 50%;
	float: right;
	height: 940px;
}

#footer {
	font-size: 20px;
	padding-bottom: 20px;
}


@keyframes image {
	from {right: 0px; }
	to {right: 1729px; }
}

@keyframes fade {
	0% {opacity: 0%;}
	25% {opacity: 0%;}
	50% {opacity: 0%;}
	75% {opacity: 0%;}
	100% {opacity: 100%;}
}

@keyframes moveit {
	0% {left: -175px;}
	15% {left: -175px;}
	100% {left: 175px;}
}

@keyframes moveit2 {
	0% {top: -100px;}
	100% {top: 0px;}
}
